@charset "UTF-8";

body#padrao {
  background-color: rgb(187, 0, 0);
}
main {
  text-align: center;
  background-color: white;
  width: 80%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
  border-radius: 10px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.right {
  position: absolute;
  right: 30px;
}